.navbar {
   
    width: 100%;
    z-index: 1030;
    color: aliceblue;
}

.navbar-dark .navbar-toggler {
    border-color: transparent; /* Make the border transparent */
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M3 7h24M3 15h24M3 23h24'/%3E%3C/svg%3E"); /* White lines */
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 30 30'%3E%3Cpath stroke='none' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



body{
    overflow-x: hidden;
    background-color: rgb(34, 33, 33);
   
}




.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1{

    display: flex;
    justify-content: center;
    align-items: center;
}



.Featured{
    background-color: white;

}

#Reviews{
    text-align: center;
    width: 100%;
    color: aliceblue;
    
}

i{
    color: aliceblue;
}
h5{
    color: aliceblue;
}

.card-custom {
    max-width: 500px; /* Adjust to your preference */
    margin: auto; /* Center the cards */
}



.fs-5{
    width: 500px;
    margin-left: 20px;
}


.card:hover {
    transform: scale(1.1);
}

.card-title {
    font-size: 1.25rem;
    margin-top: 10px;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    text-align: justify;
}


.card-text{
    text-align: center;
}

.card{
    text-align: center;
};


.section1 {
    padding: 10px;
}

.cols {
    display: flex;
    justify-content: center;

}

.mb-3 {
    margin-bottom: 112px;
}

.row {
    margin-right: 10;
    margin-left: 10;
}

.gap-2 {
    gap: 1rem;

}


.card {
    border: none; 
}
.hover-image {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.hover-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


#BagPacks .row {
    margin-left: 15px;
    margin-right: 15px;
}

#BagPacks .col-lg-4, 
#BagPacks .col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.hover-image {
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.hover-image:hover {
    transform: scale(1.05);
}

.shadow-1-strong {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.row {
    margin-left: 15px;
    margin-right: 15px;
}

.div1 {
    margin-left: 5px;
    margin-right: 5px;
}



.container {
    padding: 20px;
    margin: 1;
}


h1, h3 {
    font-weight: bold;
}

.bg-dark {
    background-color: white; 
}

.form-control {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}